.jobsContainer {
  display: flex;
  padding: 20px;
  display: flex;
}
.homeContainerjobs {
  background-color: black;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.retry {
  background-color: #6366f1;
  color: white;
  padding: 10px;
  font-weight: bold;
  border: 0px solid;
}
