.homeContainer {
  background-color: black;
  height: 100vh;
  color: white;
}
.homeImageContainer {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  height: 90vh;
  padding: 50px;
}
.homeContent {
  width: 400px;
}
.jobsButton {
  background-color: #4f46e5;
  padding: 10px;
  border: 0px solid;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  outline: none;
}
